@font-face {
    font-family: cool_font;
    src: url('../font/standard-7-plain-expanded-s.ttf') format("truetype");
}
body {
    //background-image:url('../img/test3.png');
    //background-image:url(#bkg_canvas);
    //background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
    color: #FFFAF0;
    font-family: 'cool_font';
    font-weight: bold;
    font-size: 29px;
    //text-align: center;
}
 
img {
	border: 0;
}

#some {
    //width: 33%;
    //border:solid;
}

#text {
    font-size: 20px;
    position: absolute;
    top: 33%;
    float: left;
    z-index: 2;
    opacity: 0.66;
    border: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #FFFAF0; 
    padding: 5px;
    background-color: rgba(0,0,0,0.45);

}

#text:hover {
    background-color: blue;
    background-color: rgba(0,0,255,0.5);
    opacity: 1.0;
}

#name{
    padding: 5px;
    position: fixed;
    z-index: 2;
    opacity: 0.0;
}
#bkg {
    opacity: 1.0;
    background-image:url('../img/triangle.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
}

a:link {color:#8B8878;
		 text-decoration:none}      /* unvisited link */
a:visited {color:#8B8878;
		 text-decoration:none}  /* visited link */
a:hover {color:#8B8878;
		 text-decoration:underline}  /* mouse over link */
a:active {color:#FFFAF0;
		 text-decoration:underline}  /* selected link */